# Basics
## Importing and having an overview on the dataset
Let's start looking at the basics command of pandas to import our dataset, we will use a csv.file. it is also possible to import different format of the data using similar command as pd.read_json, pd.read_excel, pd.read_html, pd.read_sql and many different (https://pandas.pydata.org/docs/user_guide/io.html)

In [1]:
import pandas as pd
df = pd.read_csv("abalone_1.csv", "r", encoding="utf-8", delimiter=",")

To have a quick look at the data, to understand how they are organized:
- df.info() to have access at fewer data as only the type thare are commands as *df.dtypes, df.columns, df.shape. pay attentation, they have no round parenteshis!

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4176 non-null   object
 1   Length          4176 non-null   float64
 2   Diameter        4168 non-null   float64
 3   Height          4176 non-null   float64
 4   Whole_weight    4176 non-null   float64
 5   Shucked_weight  4176 non-null   float64
 6   Viscera_weight  4168 non-null   float64
 7   Shell_weight    4176 non-null   float64
 8   Rings           4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

To see more statistical information on our dataset is possible to use the implemented function describe () which return a fancy table with all the main statistical property of our df as mean, sd, min, max and also count which count the observation in the dataset (in some are fewer because there are some Na's). is also possible to see this information only about one columns specifing that df[ " name_of_the_column " ].describe(), we will see in a second how to get rows and columns.

In [3]:
df.describe()

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
count,4176.000000,4168.000000,4176.000000,4176.000000,4176.00000,4168.000000,4176.000000,4176.000000
mean,0.524009,0.407904,0.139527,0.828818,0.35940,0.180480,0.238852,9.932471
std,0.120103,0.099235,0.041826,0.490424,0.22198,0.109528,0.139213,3.223601
min,0.075000,0.055000,0.000000,0.002000,0.00100,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.18600,0.093000,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799750,0.33600,0.170750,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153250,0.50200,0.252625,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.48800,0.760000,1.005000,29.000000

## Extract rows and columns

To access at the data we have different ways, we will see the more usefull as df.loc[] and the direct access to the date: to have a better representation i reduce the df into smaller one whit only 2 observartion using the commando iloc that stay for integer location and specifing only to row from 0:3 and all the column except the last one. important: in this notation pandas is not as vanilla python if i digiti 0:9 it will take all the columns from 0 to 9 included!

In [4]:
df_short = df.iloc[0:2, 0:8]

We can access at our dataframe directly using the square bracket:

In [5]:
df_short["Diameter"] # only one column
df_short[["Diameter", "Height"]] # using a LIST of columns, so return a small df whit only the two column
df_short[0:2] # the first two row 
df_short["Diameter"][0:1] # first row of only diameter

0    0.265
Name: Diameter, dtype: float64

It is also possible to access to the data using the df.loc[ ] function wich is more understandable and recomended. it use the SQUARE BRACKET and loc (which stay for location) it is possible to specificy the number of row as integer but also as ARRAY OF BOOLEAN (this is important for further analysis) and select the column specifying the name.

In [6]:
df_short.loc[0:2, "Sex":"Diameter"] # from Sex to Diameter

  Sex  Length  Diameter
0   M    0.35     0.265
1   F    0.53     0.420

In [7]:
df_short.loc[0:2, ["Sex","Diameter"]] # only Sex and Diameter

  Sex  Diameter
0   M     0.265
1   F     0.420

We will see that loc function is very powerful when we deal with condition statement because it is possible to pass an array of boolean and pandas will peak only the rows in which there is the True condition, an example of this:

In [8]:
df.loc[(df["Rings"]>15)] # as before is possible to specifiy specific colums df.loc[(df["Rings"]>15), "Viscera_weight"]

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
5,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20
6,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.260,16
8,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.320,19
31,M,0.665,0.525,0.165,1.3380,0.5515,0.3575,0.350,18
32,F,0.680,0.550,0.175,1.7980,0.8150,0.3925,0.455,19
...,...,...,...,...,...,...,...,...,...
3928,F,0.650,0.515,0.215,1.4980,0.5640,0.3230,0.425,16
3929,F,0.670,0.535,0.185,1.5970,0.6275,0.3500,0.470,21
3930,I,0.550,0.440,0.165,0.8605,0.3120,0.1690,0.300,17
3943,M,0.550,0.440,0.160,0.9910,0.3480,0.1680,0.375,20
3946,M,0.475,0.365,0.140,0.6175,0.2020,0.1445,0.190,16

## Extaract with condition

As anticipated is possible to use boolean condition to parse our files. in most cases pandas will return an array (pandas series) with boolean inside, as True or False. is important to remind that the condition digit are not the same as in python we have & that stand for and, | stand for or and the magic ~ that stand for not.

In [9]:
df_short["Length"]>10 
df_short["Sex"] == "M"
df_short["Sex"] != "M"

0    False
1     True
Name: Sex, dtype: bool

So is possible to create whatever filter we want and then apply this filter to our data. in the example we whish to select the rows of the column Whole_weight which has more than 10 in the Rings column.

In [10]:
to_keep = df["Rings"]>10
df.loc[to_keep, "Whole_weight"]

5       0.7775
6       0.7680
8       0.8945
9       0.6065
11      0.5415
         ...
4147    2.0505
4159    1.0530
4160    0.9945
4171    0.8870
4175    1.9485
Name: Whole_weight, Length: 1446, dtype: float64

We can construct more complex condition, using the boolean operator and so on. one important remind is about the sintax. Pandas return a problem if you insert multiple condition with the round parenthesis, so take care and always use them:

In [11]:
df.loc[(df["Rings"]>10) & ((df["Sex"] == "M") | (df["Sex"]=="F")) & ~(df["Rings"]==12)] 
#df.loc[ df["Rings"]>10 & df["Sex"] == "M" ] # this will return an error

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
5,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.3300,20
6,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600,16
8,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.3200,19
9,F,0.525,0.380,0.140,0.6065,0.1940,0.1475,0.2100,14
11,M,0.490,0.380,0.135,0.5415,0.2175,0.0950,0.1900,11
...,...,...,...,...,...,...,...,...,...
4146,M,0.695,0.550,0.195,1.6645,0.7270,0.3600,0.4450,11
4147,M,0.770,0.605,0.175,2.0505,0.8005,0.5260,0.3550,11
4159,F,0.585,0.475,0.165,1.0530,0.4580,0.2170,0.3000,11
4160,F,0.585,0.455,0.170,0.9945,0.4255,0.2630,0.2845,11
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11

## More advance condition with implemented fucntion

There are many implemented function in pandas that allow the smart parsing and condition (https://pandas.pydata.org/docs/user_guide/index.html#user-guide). isin() function return only the rows in which the state is present! or the str method (which are a lot) return only the rows in which is found the specified string:

In [12]:
filtering_by_a_list = [1,2]
df.loc[df["Rings"].isin(filtering_by_a_list), "Rings"]

235    1
718    2
Name: Rings, dtype: int64

In [13]:
df_short["Sex"].str.contains("M") # .str._function

0     True
1    False
Name: Sex, dtype: bool

# Updating Rows and columns

## updating columns name

first we are going to see how is possible to change the columns name of our dataframe, this could usefull when we have names with space " " and so on. the easiest way is to assign to df.columns a list with the new name!

In [14]:
lower_name = [x.lower() for x in df.columns]
copy_of_columns = df.columns
df.columns = lower_name
df.columns

Index(['sex', 'length', 'diameter', 'height', 'whole_weight', 'shucked_weight',
       'viscera_weight', 'shell_weight', 'rings'],
      dtype='object')

we can use also the str.method implemented in pandas:

In [15]:
df.columns = df.columns.str.replace("-","") #is used to remove " " usually
df.columns

Index(['sex', 'length', 'diameter', 'height', 'whole_weight', 'shucked_weight',
       'viscera_weight', 'shell_weight', 'rings'],
      dtype='object')

if we want to rename just one column is possible to use the function rename and specify what column we what to change using a dicitionary. the condition inplace means that change directly the dataframe. and we will see inplace argument is not the best option always.

In [16]:
#if just one or more columns with rename
df.rename(columns= {"Rings":"420"}, inplace=True)

## replace values in specific rows

the easiest way is using the loc function to extract the rows and then assign those rows to what we need! we have not seen yet how to insert rows but here an easy example on how to insert just one row:

In [17]:
import numpy as np
import copy
df.columns = copy_of_columns
to_change = df_short[0:1].copy()
to_change.loc[0,"Sex"] = 1 # it return a warning but it works (*check)

Let perform this operation on a multiple rows:
- first we filter whith a condition and check how many values are marked as True just summing up the array.
- assign to those rows a different result

In [18]:
fil2 = df["Diameter"]>0.60
sum(fil2 == True) # just 10
media_d = df["Diameter"].mean()

In [19]:
df.loc[fil2, "Diameter"] = media_d # just assign those rows to a value
fil2 = df["Diameter"]>0.60
sum(fil2 == True) # just 0

0

## replace string values

is a similar way ad one before we can perform this type of changes also with string objcet

In [20]:
df["Sex"] = df["Sex"].str.lower() 
df.head(5)
# .str.whatever function implemented in python!

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,m,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,f,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,m,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,i,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,i,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

We will see how to apply a function over all the df one row per time, for now let's see how we can change ane entire row columns just re assign these columns to a newone (having in mind that they must have the same dim). * do not run the cell under more than once or it will return strange result)

In [21]:
def extend(s): 
    res = s.upper()
    if res == "M":
        return "Male"
    elif res =="F":
        return "Female"
    else:
        return "Ibrid"
    
name_extended = df["Sex"].apply(extend) # a new series with the new name

In [22]:
df["Sex"] = name_extended # just assign
df.head() # DO NOT RUN MORE THAN ONCE or it will return straaange stuff

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,Male,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,Female,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,Male,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,Ibrid,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,Ibrid,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

## Apply, Map function and create new columns

the Apply and Map function are implemented pandas function that allows to perform operation on all the values inside the dataframe. it possible to restrict the rows and colums by selecting them as we saw before. is it quite useful because we can pass whatever function to our dataframe but it must return something!

In [23]:
def whateverfunction(x):
    return float(x*2)

df["Diameter"].apply(whateverfunction)
df["Radius"] = df["Diameter"].apply( lambda x: x/2) # function on fly
df.head(2)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius
0,Male,0.35,0.265,0.090,0.2255,0.0995,0.0485,0.07,7,0.1325
1,Female,0.53,0.420,0.135,0.6770,0.2565,0.1415,0.21,9,0.2100

Mastro >leoni< utilizza transform ma non mi sono chiare le differenze:

In [24]:
df["Radius_2"] = df["Diameter"].transform( lambda x: x/2) # function on fly

Another important function is Map which is used to "map" value to some other, the main use could be transorm binary variable into True,False value and so on!

In [25]:
import numpy as np
df["Sex"].map({"Male":True, "Female":False, "Ibrid": np.nan})
df["Boolea_sex"] = df["Sex"].map({"Male":True, "Female":False, "Ibrid": np.nan})
df.head(5)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Radius_2,Boolea_sex
0,Male,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.1325,0.1325,True
1,Female,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.2100,0.2100,False
2,Male,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.1825,0.1825,True
3,Ibrid,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.1275,0.1275,NaN
4,Ibrid,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,0.1500,0.1500,NaN

## drop columns

is possible to drop columns, specifing them using a list (even if is just one colum) but also rows in the same way. is possible to do the change inplace or assign again the df.

In [26]:
df.drop(columns=["Radius_2"], inplace=True) # the argument of columns could be a list wit multiple element
df.head(2)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Boolea_sex
0,Male,0.35,0.265,0.090,0.2255,0.0995,0.0485,0.07,7,0.1325,True
1,Female,0.53,0.420,0.135,0.6770,0.2565,0.1415,0.21,9,0.2100,False

In [27]:
df.drop(index = [1,2,4]) # not understood how to discard multiple rows as 0:10, or a bool array

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Boolea_sex
0,Male,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0.1325,True
3,Ibrid,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,0.1275,NaN
5,Female,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.3300,20,0.2075,False
6,Female,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600,16,0.2125,False
7,Male,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.1650,9,0.1850,True
...,...,...,...,...,...,...,...,...,...,...,...
4171,Female,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,0.2250,False
4172,Male,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,0.2200,True
4173,Male,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,0.2375,True
4174,Female,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,0.2425,False
4175,Male,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,0.2775,True

## add rows

Using the function append is possible to concat rows, we will see later how to rbind multiple rows! important remind: use ignore_index = True or it return an error and is hard to handle. as you can see if some attribute are not specified Pandas will upload them with a NaN!

In [28]:
new_obs = {"Sex":"Male","Length": 0.8, "Diameter":0.3, "Height":0.5}
df.append(new_obs, ignore_index = True)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Boolea_sex
0,Male,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7.0,0.1325,True
1,Female,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9.0,0.2100,False
2,Male,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10.0,0.1825,True
3,Ibrid,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7.0,0.1275,NaN
4,Ibrid,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8.0,0.1500,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4172,Male,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10.0,0.2200,True
4173,Male,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9.0,0.2375,True
4174,Female,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10.0,0.2425,False
4175,Male,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12.0,0.2775,True
4176,Male,0.800,0.300,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN

another imporant remind is that we do not have the inplace argument, we must assign again our dataframe!

In [29]:
df = df.append(new_obs, ignore_index = True) # now is implemented
df.tail(1)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Boolea_sex
4176,Male,0.8,0.3,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Sorting

sort_values, we can just look at our sorted series by specifing inplace = False!

In [30]:
df.sort_values(by = "Radius", inplace=True)

In [31]:
df["Radius"].sort_values() # NaN is looked as float around 0

235     0.0275
237     0.0450
2113    0.0475
718     0.0500
236     0.0500
         ...
2601       NaN
2822       NaN
3014       NaN
3026       NaN
4176       NaN
Name: Radius, Length: 4177, dtype: float64

In [32]:
type(np.NaN) # VVVHAT

float

In [33]:
# to see multiple sorting columns we can specificy the ascending order for each of them
df.sort_values(by=["Sex","Diameter"], ascending=[True,False], inplace = True)
df[["Sex","Diameter"]] # sex is in ascending order while Diameter not!

         Sex  Diameter
333   Female     0.600
1422  Female     0.600
1050  Female     0.600
2367  Female     0.595
4105  Female     0.590
...      ...       ...
3317    Male     0.125
2370    Male     0.125
2380    Male     0.115
525     Male     0.110
2601    Male       NaN

[4177 rows x 2 columns]

Then is possible to come back just by sorting with index!

In [34]:
df.sort_index(inplace=True)

# Statistsic

as seen at the beginning we can perform a df.describe() operation wichi allow to see the main descriptive statistical feature of our df.

In [35]:
df.describe()

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius
count,4177.000000,4169.000000,4177.000000,4176.000000,4176.00000,4168.000000,4176.000000,4176.000000,4168.000000
mean,0.524075,0.407318,0.139613,0.828818,0.35940,0.180480,0.238852,9.932471,0.203672
std,0.120164,0.098630,0.042192,0.490424,0.22198,0.109528,0.139213,3.223601,0.049314
min,0.075000,0.055000,0.000000,0.002000,0.00100,0.000500,0.001500,1.000000,0.027500
25%,0.450000,0.350000,0.115000,0.441500,0.18600,0.093000,0.130000,8.000000,0.175000
50%,0.545000,0.425000,0.140000,0.799750,0.33600,0.170750,0.234000,9.000000,0.212500
75%,0.615000,0.480000,0.165000,1.153250,0.50200,0.252625,0.329000,11.000000,0.240000
max,0.815000,0.600000,1.130000,2.825500,1.48800,0.760000,1.005000,29.000000,0.300000

## Basic descriptive statistic

it is also possible to see other stuff with function that are implemented in pandas ( it is possible to perform them on the whole data.frame but also on a particular column ):

In [36]:
print(df["Whole_weight"].std())
print(df["Whole_weight"].mean()) # automatically remove NA's in the count
print(df["Whole_weight"].median())
print(df["Whole_weight"].var())

0.4904235478411501
0.8288175287356346
0.79975
0.24051525627710083

In [37]:
df["Whole_weight"].nlargest(2) # dieci più grandi

890     2.8255
1762    2.7795
Name: Whole_weight, dtype: float64

In [38]:
df["Whole_weight"].nsmallest(3)

235     0.0020
237     0.0080
2113    0.0105
Name: Whole_weight, dtype: float64

In [39]:
df.quantile(0.75) # specify the quantile

Length             0.615000
Diameter           0.480000
Height             0.165000
Whole_weight       1.153250
Shucked_weight     0.502000
Viscera_weight     0.252625
Shell_weight       0.329000
Rings             11.000000
Radius             0.240000
Name: 0.75, dtype: float64

In [40]:
df["Whole_weight"].max()
df["Whole_weight"].min()

0.002

In [41]:
df["Whole_weight"].idxmax() # return the index of the max_value

890

In [42]:
df["Whole_weight"].loc[df["Whole_weight"].idxmax() ]

2.8255

is also possible to sum up all a pd.series using the implemented funcition in python but also with the implemented function in pandas which do more stuff as removing Na's and so on.

In [43]:
print(sum(df["Whole_weight"]))
df["Whole_weight"].sum()

nan

3461.142

## Data aggregating

Start from a simple table, the function value_counts return the value and the number of occurence of that particular values! with unique we see the unique value while under the count of those.

In [44]:
print(df["Sex"].unique())
df["Sex"].value_counts()

['Male' 'Female' 'Ibrid']

Male      1528
Ibrid     1342
Female    1307
Name: Sex, dtype: int64

is also possible to normalize this table in order to have the proportion by adding an arugment:

In [45]:
df["Sex"].value_counts(normalize = True)

Male      0.365813
Ibrid     0.321283
Female    0.312904
Name: Sex, dtype: float64

## Groupby

with the groupby fucntion we can aggregate our dataframe. we basically split the object according to some variable or condition. for our df is pretty useful to see the value of each variable according to the sex.

In [46]:
Sex_abalone = df.groupby(["Sex"])

In [47]:
Sex_abalone.describe()

        Length                                                       Diameter  \
         count      mean       std    min    25%    50%   75%    max    count
Sex
Female  1307.0  0.579093  0.086160  0.275  0.525  0.590  0.64  0.815   1304.0
Ibrid   1342.0  0.427746  0.108858  0.075  0.360  0.435  0.51  0.725   1338.0
Male    1528.0  0.561616  0.102842  0.155  0.505  0.580  0.63  0.800   1527.0

                  ... Rings        Radius                                      \
            mean  ...   75%   max   count      mean       std     min     25%
Sex               ...
Female  0.453641  ...  12.0  29.0  1304.0  0.226820  0.035007  0.0975  0.2050
Ibrid   0.326525  ...   9.0  21.0  1338.0  0.163262  0.044087  0.0275  0.1350
Male    0.438552  ...  12.0  27.0  1526.0  0.219322  0.041928  0.0550  0.1975


           50%       75%    max
Sex
Female  0.2325  0.250000  0.300
Ibrid   0.1675  0.196875  0.275
Male    0.2275  0.247500  0.300

[3 rows x 72 columns]

In [48]:
Sex_abalone[["Diameter","Radius"]].median()

        Diameter  Radius
Sex
Female     0.465  0.2325
Ibrid      0.335  0.1675
Male       0.455  0.2275

we can ever pass a list of function to perform using the command agg

In [49]:
Sex_abalone[["Diameter","Radius"]].agg(["mean","median","std"])

        Diameter                     Radius
            mean median       std      mean  median       std
Sex
Female  0.453641  0.465  0.070014  0.226820  0.2325  0.035007
Ibrid   0.326525  0.335  0.088173  0.163262  0.1675  0.044087
Male    0.438552  0.455  0.083903  0.219322  0.2275  0.041928

Having splitted the dataframe intog group we can perform task regarding only some of the data in which we are interested in! for instance if we are interested only in the male abalone we can get that group and then performing operation only on that one!

In [50]:
Sex_abalone.get_group("Male") # only with the sex "m"

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius,Boolea_sex
0,Male,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7.0,0.1325,True
2,Male,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10.0,0.1825,True
7,Male,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.1650,9.0,0.1850,True
10,Male,0.430,0.350,0.110,0.4060,0.1675,0.0810,0.1350,10.0,0.1750,True
11,Male,0.490,0.380,0.135,0.5415,0.2175,0.0950,0.1900,11.0,0.1900,True
...,...,...,...,...,...,...,...,...,...,...,...
4170,Male,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8.0,0.2150,True
4172,Male,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10.0,0.2200,True
4173,Male,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9.0,0.2375,True
4175,Male,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12.0,0.2775,True
4176,Male,0.800,0.300,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
Sex_abalone.get_group("Male").describe()

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings,Radius
count,1528.000000,1527.000000,1528.000000,1527.000000,1527.000000,1523.000000,1527.000000,1527.000000,1526.000000
mean,0.561616,0.438552,0.151646,0.991772,0.433083,0.215256,0.282056,10.702685,0.219322
std,0.102842,0.083903,0.035900,0.470577,0.223009,0.104709,0.130833,3.025343,0.041928
min,0.155000,0.110000,0.025000,0.015500,0.006500,0.003000,0.005000,3.000000,0.055000
25%,0.505000,0.395000,0.130000,0.673250,0.276750,0.145750,0.190000,9.000000,0.197500
50%,0.580000,0.455000,0.155000,0.976000,0.422000,0.209500,0.276000,10.000000,0.227500
75%,0.630000,0.495000,0.175000,1.265750,0.566000,0.277500,0.355500,12.000000,0.247500
max,0.800000,0.600000,0.515000,2.825500,1.351000,0.760000,0.897000,27.000000,0.300000

In [52]:
Sex_abalone.get_group("Male").mean()

Length             0.561616
Diameter           0.438552
Height             0.151646
Whole_weight       0.991772
Shucked_weight     0.433083
Viscera_weight     0.215256
Shell_weight       0.282056
Rings             10.702685
Radius             0.219322
Boolea_sex         1.000000
dtype: float64

In [53]:
#the condition return a boolean vector and is possible to count how many of them value are True using a simple sum function
print(sum(Sex_abalone.get_group("Male")["Diameter"]> 0.5))
(Sex_abalone.get_group("Male")["Diameter"].apply(lambda x:  x > 0.6).sum()) # more pro way

335

0

# Dealing NA's

## Drop all Na's

Na's are always a problem. Pandas allows different solution to handle them, some of them are quite straightforward while other are more articulated. let's start with the simplest one, dropping all of them. first of all we want to count how many na are present and with the implented function isna() we have an array of True/False, counting the True we can see that we have 8 Na.

In [54]:
print(df["Diameter"].isna().value_counts())
# or just summing up the true as:
print(sum(df["Diameter"].isna()))

False    4169
True        8
Name: Diameter, dtype: int64
8

So the easiest way is to drop all of the NA and assign the result to the dataframe!

In [55]:
df2 = df.dropna() # same as na.omit in R <- 
df2["Diameter"].isna().value_counts()

False    2824
Name: Diameter, dtype: int64

An useful argument inside dropna is subset = [" list of columns "], which allows to remove the row that contain NA just in that particular columns and not in the others one!

In [56]:
df2 = df.dropna(subset=["Diameter","Shucked_weight"])

Sometimes it could happend that the NA's value are not marked as NaN or None or in some understandable way, in this case we have to replace this with something more tratable. looking at the following example:

In [57]:
import numpy as np
df.replace("NA", np.nan, inplace=True)
df.replace("Missing", np.nan, inplace=True)
df.replace("Whatever possible NA read wrong", np.nan, inplace=True)
# now i'm sure that are tha NA are targer in a right way!

## Fillna function

as in many case we do not want to remove the NA's value but we just want to perfome some operation on them, to substitute without removing. the function that allow us to do this is fillna() which allows to fillna in whole dataframe or one per time.

In [58]:
print(df["Diameter"].isna().value_counts())
df.fillna(df["Diameter"].mean(), inplace = True)
print(df["Diameter"].isna().value_counts())

False    4169
True        8
Name: Diameter, dtype: int64
False    4177
Name: Diameter, dtype: int64

Lets look at a pratical example always from our dataframe! suppose that i want to remove all the NA and replace them with the mean of that column but according to the sex specified in the first column. i have two ways the first one split the dataframe with groupby and replace the NA's value of each group and at the end compose the entire dataframe as the original while the second is more pro way wich require few steps.

In [75]:
# ** this is not the optimal way! **
df = pd.read_csv("abalone_1.csv", "r", encoding="utf-8", delimiter=",") # call again so i have my NA
sex = df.groupby("Sex")

female = sex.get_group("F")
male = sex.get_group("M")
ibrid = sex.get_group("I"
                     )
f_mean = female["Diameter"].mean()
m_mean = male["Diameter"].mean()
i_mean = ibrid["Diameter"].mean()

f_Na = female["Diameter"].isna()
f_new = female["Diameter"].fillna(f_mean) 
female.loc[:,"Diameter"] = f_new

m_Na = male["Diameter"].isna()
m_new = male["Diameter"].fillna(m_mean) 
male.loc[:,"Diameter"] = m_new

i_Na = ibrid["Diameter"].isna()
i_new = ibrid["Diameter"].fillna(i_mean) 
ibrid.loc[:,"Diameter"] = i_new

df_clean = pd.concat([female,male,ibrid])
df_clean["Diameter"].isna().value_counts()

# it return a warning but it works! is given by the possibility that you are modify the original df, but i want it!

False    4176
Name: Diameter, dtype: int64

In [60]:
# ** optimal way ** (I think)
f_mean = df.loc[df["Sex"]=="F", "Diameter"].mean()
f_male = df.loc[df["Sex"]=="M", "Diameter"].mean()
i_mean= df.loc[df["Sex"]=="I", "Diameter"].mean()

df.loc[df["Sex"]=="F", "Diameter"]= df.loc[df["Sex"]=="F", "Diameter"].fillna(f_mean)
df.loc[df["Sex"]=="M", "Diameter"]= df.loc[df["Sex"]=="M", "Diameter"].fillna(f_male)
df.loc[df["Sex"]=="I", "Diameter"]= (df.loc[df["Sex"]=="I", "Diameter"]).fillna(i_mean)


df["Diameter"].isna().value_counts()

False    4176
Name: Diameter, dtype: int64

# Merging, joining and creating df

## Creating df from a list of dictionary

Taking a random json file, just to have a dictionary data structure we will create a new df and then we will operate some operations on it

In [61]:
list_of_dict = [{"name":"Aeroporto","address":"Via Lidorno / Aeroporto Caproni","id":"Aeroporto - Trento","bikes":1,"slots":7,"totalSlots":8,"position":[46.01983619754026,11.127080654939277]},{"name":"Azienda Sanitaria","address":"Via De Gasperi - Lato Trento Frutta","id":"Azienda Sanitaria - Trento","bikes":6,"slots":12,"totalSlots":18,"position":[46.044433415996814,11.12804971230321]},{"name":"Bezzi","address":"Via Bezzi / Via Vittorio Veneto","id":"Bezzi - Trento","bikes":3,"slots":5,"totalSlots":9,"position":[46.058020904033015,11.119315767528406]},{"name":"Biblioteca","address":"Via Alfieri / Via Torre Vanga","id":"Biblioteca - Trento","bikes":11,"slots":13,"totalSlots":24,"position":[46.07043395910254,11.121399842327946]},{"name":"Bren Center","address":"Via Guardini fr. civ. 75","id":"Bren Center - Trento","bikes":5,"slots":12,"totalSlots":18,"position":[46.094653868146885,11.117693389024225]},{"name":"Centro Santa Chiara","address":"Via S. Croce 78","id":"Centro Santa Chiara - Trento","bikes":6,"slots":11,"totalSlots":17,"position":[46.06345393738132,11.12375366752849]},{"name":"Cimitero","address":"via Madruzzo / via Rosmini","id":"Cimitero - Trento","bikes":1,"slots":9,"totalSlots":10,"position":[46.063653753791996,11.119203004368615]},{"name":"Ex Atesina - Lidl","address":"via Del Brennero 99 - via Marconi","id":"Ex Atesina - Lidl - Trento","bikes":3,"slots":5,"totalSlots":9,"position":[46.083939246923265,11.119624973661725]},{"name":"Gardolo","address":"Via IV Novembre / Piscina","id":"Gardolo - Trento","bikes":4,"slots":8,"totalSlots":12,"position":[46.10407094472173,11.112932473016372]},{"name":"Lidorno","address":"Via Lidorno / Park Trento Sud","id":"Lidorno - Trento","bikes":3,"slots":9,"totalSlots":12,"position":[46.03316279422745,11.126252122229062]},{"name":"Muse","address":"Corso del Lavoro e della Scienza","id":"Muse - Trento","bikes":4,"slots":6,"totalSlots":12,"position":[46.06137765005302,11.116027144580812]},{"name":"Piazza della Mostra","address":"P.za della Mostra 30","id":"Piazza della Mostra - Trento","bikes":5,"slots":7,"totalSlots":12,"position":[46.071784324082046,11.125761136176266]},{"name":"Piazza di Centa","address":"P.le di Centa / Via Vannetti","id":"Piazza di Centa - Trento","bikes":8,"slots":3,"totalSlots":12,"position":[46.07538723420181,11.12382177686004]},{"name":"Piazza Venezia","address":"Via Grazioli / P.za Venezia","id":"Piazza Venezia - Trento","bikes":3,"slots":21,"totalSlots":24,"position":[46.06753791402558,11.126987115869156]}]
list_of_dict2= [{"name":"Piscina","address":"Via Fogazzaro / Via Gocciadoro","id":"Piscina - Trento","bikes":2,"slots":9,"totalSlots":11,"position":[46.05627509524844,11.13094278895494]},{"name":"Stazione Autocorriere","address":"Via Pozzo / Via Torre Vanga","id":"Stazione Autocorriere - Trento","bikes":1,"slots":19,"totalSlots":21,"position":[46.07023563810641,11.119849430688419]},{"name":"Stazione FFSS - Ospedale","address":"Via Gocciadoro - Staz. S. Chiara","id":"Stazione FFSS - Ospedale - Trento","bikes":0,"slots":11,"totalSlots":12,"position":[46.054586705531555,11.135349258821861]},{"name":"Top Center","address":"Via Pranzelores / Via Giuseppe Gilli","id":"Top Center - Trento","bikes":8,"slots":13,"totalSlots":23,"position":[46.09010372321067,11.118583717279193]},{"name":"Università","address":"Via Rosmini 50 - Università","id":"Università - Trento","bikes":5,"slots":11,"totalSlots":18,"position":[46.06632943181332,11.119020308598351]},{"name":"Vannetti","address":"piazza Dante / via Vannetti","id":"Vannetti - Trento","bikes":4,"slots":1,"totalSlots":6,"position":[46.072996732945235,11.121911281089751]},{"name":"Zuffo 1 - bike park","address":"piazzale Zuffo - Bike Park","id":"Zuffo 1 - bike park - Trento","bikes":2,"slots":4,"totalSlots":6,"position":[46.07516784166884,11.109941605738777]},{"name":"Zuffo 2 via dos Trento","address":"piazzale Zuffo - uscita Via dos Trento","id":"Zuffo 2 via dos Trento - Trento","bikes":10,"slots":0,"totalSlots":10,"position":[46.07508100896583,11.109325880468887]}]

In [62]:
from pprint import pprint
pprint(list_of_dict[0])

{'address': 'Via Lidorno / Aeroporto Caproni',
 'bikes': 1,
 'id': 'Aeroporto - Trento',
 'name': 'Aeroporto',
 'position': [46.01983619754026, 11.127080654939277],
 'slots': 7,
 'totalSlots': 8}

We can create a newdataframe just using the function pd.DataFrame() paying attention to the capital letter!

In [63]:
df1 = pd.DataFrame(list_of_dict)
df2 = pd.DataFrame(list_of_dict2)
df1.head(2)

,name,address,id,bikes,slots,totalSlots,position
0,Aeroporto,Via Lidorno / Aeroporto Caproni,Aeroporto - Trento,1,7,8,"[46.01983619754026, 11.127080654939277]"
1,Azienda Sanitaria,Via De Gasperi - Lato Trento Frutta,Azienda Sanitaria - Trento,6,12,18,"[46.044433415996814, 11.12804971230321]"

First we try to add some single rows into our data frame using the append function (must assign = df!)

In [64]:
new_obs = {"name":"Highway for spaceX","address":"D.Adams n 42","id":"Vorrei ma non posso","bikes":100,"slots":0,"totalSlots":10,"position":[42.42,42.42]}
df1 = df1.append(new_obs, ignore_index = True)

## Concat and reset_index

Using the concat function we basically put togheter our df, they must have some columns and then we have to fix the index!

In [65]:
whole_df = pd.concat([df1,df2])
# to fix the index just use:
whole_df =  whole_df.reset_index(drop = True)
whole_df

,name,address,id,bikes,slots,totalSlots,position
0,Aeroporto,Via Lidorno / Aeroporto Caproni,Aeroporto - Trento,1,7,8,"[46.01983619754026, 11.127080654939277]"
1,Azienda Sanitaria,Via De Gasperi - Lato Trento Frutta,Azienda Sanitaria - Trento,6,12,18,"[46.044433415996814, 11.12804971230321]"
2,Bezzi,Via Bezzi / Via Vittorio Veneto,Bezzi - Trento,3,5,9,"[46.058020904033015, 11.119315767528406]"
3,Biblioteca,Via Alfieri / Via Torre Vanga,Biblioteca - Trento,11,13,24,"[46.07043395910254, 11.121399842327946]"
4,Bren Center,Via Guardini fr. civ. 75,Bren Center - Trento,5,12,18,"[46.094653868146885, 11.117693389024225]"
5,Centro Santa Chiara,Via S. Croce 78,Centro Santa Chiara - Trento,6,11,17,"[46.06345393738132, 11.12375366752849]"
6,Cimitero,via Madruzzo / via Rosmini,Cimitero - Trento,1,9,10,"[46.063653753791996, 11.119203004368615]"
7,Ex Atesina - Lidl,via Del Brennero 99 - via Marconi,Ex Atesina - Lidl - Trento,3,5,9,"[46.083939246923265, 11.119624973661725]"
8,Gardolo,Via IV Novembre / Piscina,Gardolo - Trento,4,8,12,"[46.10407094472173, 11.112932473016372]"
9,Lidorno,Via Lidorno / Park Trento Sud,Lidorno - Trento,3,9,12,"[46.03316279422745, 11.126252122229062]"
10,Muse,Corso del Lavoro e della Scienza,Muse - Trento,4,6,12,"[46.06137765005302, 11.116027144580812]"
11,Piazza della Mostra,P.za della Mostra 30,Piazza della Mostra - Trento,5,7,12,"[46.071784324082046, 11.125761136176266]"
12,Piazza di Centa,P.le di Centa / Via Vannetti,Piazza di Centa - Trento,8,3,12,"[46.07538723420181, 11.12382177686004]"
13,Piazza Venezia,Via Grazioli / P.za Venezia,Piazza Venezia - Trento,3,21,24,"[46.06753791402558, 11.126987115869156]"
14,Highway for spaceX,D.Adams n 42,Vorrei ma non posso,100,0,10,"[42.42, 42.42]"
15,Piscina,Via Fogazzaro / Via Gocciadoro,Piscina - Trento,2,9,11,"[46.05627509524844, 11.13094278895494]"
16,Stazione Autocorriere,Via Pozzo / Via Torre Vanga,Stazione Autocorriere - Trento,1,19,21,"[46.07023563810641, 11.119849430688419]"
17,Stazione FFSS - Ospedale,Via Gocciadoro - Staz. S. Chiara,Stazione FFSS - Ospedale - Trento,0,11,12,"[46.054586705531555, 11.135349258821861]"
18,Top Center,Via Pranzelores / Via Giuseppe Gilli,Top Center - Trento,8,13,23,"[46.09010372321067, 11.118583717279193]"
19,Università,Via Rosmini 50 - Università,Università - Trento,5,11,18,"[46.06632943181332, 11.119020308598351]"
20,Vannetti,piazza Dante / via Vannetti,Vannetti - Trento,4,1,6,"[46.072996732945235, 11.121911281089751]"
21,Zuffo 1 - bike park,piazzale Zuffo - Bike Park,Zuffo 1 - bike park - Trento,2,4,6,"[46.07516784166884, 11.109941605738777]"
22,Zuffo 2 via dos Trento,piazzale Zuffo - uscita Via dos Trento,Zuffo 2 via dos Trento - Trento,10,0,10,"[46.07508100896583, 11.109325880468887]"

## Merging

In [66]:
# to implent properly *

In [67]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [68]:
df1.merge(df2, left_on='lkey', right_on='rkey',suffixes = ["valueOf lkey", "valueofrkey"])

  lkey  valuevalueOf lkey rkey  valuevalueofrkey
0  foo                  1  foo                 5
1  foo                  1  foo                 8
2  foo                  5  foo                 5
3  foo                  5  foo                 8
4  bar                  2  bar                 6
5  baz                  3  baz                 7

More important!! ** merging using a common columns **!

In [69]:
df1 = pd.DataFrame({'a': ['foo', 'baz',"strunz"], 'b': [1, 2,10]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})

In [70]:
df1.merge(df2, how="inner", on ="a")

     a  b  c
0  foo  1  3
1  baz  2  4

# Save out data_frame

## to_csv, to_json, to...

there are implemented some straightforward function that allows to save directly the file!

In [71]:
whole_df.to_csv("whole.csv")

In [72]:
# this is the result of the previous command re-read
['', 'name', 'address', 'id', 'bikes', 'slots', 'totalSlots', 'position'] # header
['0', 'Aeroporto', 'Via Lidorno / Aeroporto Caproni', ... ] # first row

['0', 'Aeroporto', 'Via Lidorno / Aeroporto Caproni', Ellipsis]

if we want to avoid this index which is saved without column name we must specify the argument index = False

In [73]:
whole_df.to_csv("whole.csv", index = False)

We can perform this operation specifing what is the expected output format, the most common are:
- df.to_json
- df.to_excel
- df.to_html
- df.to_string